

<div class="body">

  <div class="title">
    <h1>Welcome to my web site!</h1>
  </div>

  <div class="cards">


    <div class="card mx-3" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">About us!</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/aboutus" class="btn btn-primary">Více</a>
      </div>
    </div>
    <div class="card mx-3" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Contact us!</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/contactus" class="btn btn-primary">Více</a>
      </div>
    </div>


  </div>
</div>

